<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Homework #6: Extra Credit - CSE 578 - Spring 2023</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
    </style>
</head>
<body>
<div class="myContainer">
    <h1 class="text-center">Homework #6: Hierarchy and Comparisons</h1>
    <h3 class="text-center">Your Name - asurite@asu.edu</h3>
    <hr>
    <div id="scatter_plot_div" class="border border-dark rounded bg-light shadow-sm">
        <h3 class="text-center">Scatter Plot</h3>
        <svg id="scatter_plot_svg"></svg>
    </div>
    <div id="icicleplot_div" class="border border-dark rounded bg-light shadow-sm">
        <h3 class="text-center" id="icicle_header">Moves hierarchy</h3>
        <svg id="icicleplot_svg"></svg>
    </div>
    <div id="radarplot_div" class="border border-dark rounded bg-light shadow-sm">
        <h3 class="text-center" id="radar_header">Pokemon Stats Radar</h3>
        <svg id="radarplot_svg"></svg>
    </div>
</div>
</body>
</html>
